.mt-avatar {
    display: inline-block;
    border-radius: 0.5rem;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    /* Sizes */
    &.size-sm {
        width: 2rem;
        height: 2rem;
        font-size: 0.75rem;
        font-weight: 600;
    }

    &.size-md {
        width: 2.5rem;
        height: 2.5rem;
        font-size: 0.875rem;
        font-weight: 600;
    }

    &.size-lg {
        width: 3rem;
        height: 3rem;
        font-size: 1rem;
        font-weight: 600;
    }

    &.size-xl {
        width: 4rem;
        height: 4rem;
        font-size: 1.25rem;
        font-weight: 600;
    }

    &.size-xxl {
        width: 5rem;
        height: 5rem;
        font-size: 1.5rem;
        font-weight: 600;
    }

    /* Colors */
    &.color-primary {
        background-color: var(--mt-primary-color);
        color: var(--mt-primary-background-color);

        svg {
            stroke: var(--mt-primary-background-color);
        }
    }

    &.color-secondary {
        background-color: var(--tc-primary-color);
        color: var(--mt-secondary-text-color);

        svg {
            stroke: var(--mt-secondary-text-color);
        }
    }

    &.color-yellow {
        background-color: #fbbf24;
        color: #1f2937;

        svg {
            stroke: #1f2937;
        }
    }

    /* Image styling */
    &[src] {
        display: inline-block;
        width: inherit;
        height: inherit;
        object-fit: cover;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.5rem;
    }

    svg {
        width: 100%;
        height: 100%;
        display: block;
    }

    .centered {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        font-family: inherit;
    }
}
