#MT-radio-group {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: var(--radio-flex-direction, row);
  justify-content: space-between;
  position: relative;
  border: none;
  padding: 0;
  margin: 0;

  & > label {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

    .circle {
      position: relative;
      display: block;
      width: var(--radio-size);
      height: var(--radio-size);
      border-radius: 50%;
      border: 1px solid var(--mt-primary-border-color);
      margin-right: var(--radio-label-margin);

      &:after {
        content: "";
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        width: var(--radio-inner-size);
        height: var(--radio-inner-size);
        background: var(--mt-primary-color);
        border-radius: 50%;
        transform: translateX(-50%) translateY(-50%);
      }
    }

    input[type="radio"] {
      display: none;
    }

    span {
      font-size: var(--text-size);
    }

    input[type="radio"]:checked + .circle:after {
      display: block;
    }
  }
}
