#MT-switch {
  display: inline-flex;
  flex-shrink: 0;
  cursor: pointer;
  border-radius: 9999px;
  border: 2px solid transparent;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;

  &:focus {
    outline: none;
  }

  &.sm {
    height: 1.25rem;
    width: 2.25rem;

    .switch-knob {
      height: 1rem;
      width: 1rem;

      &.enabled {
        transform: translateX(1rem);
      }
    }
  }

  &.lg {
    height: 1.5rem;
    width: 2.75rem;

    .switch-knob {
      height: 1.25rem;
      width: 1.25rem;

      &.enabled {
        transform: translateX(1.25rem);
      }
    }
  }

  &.mt-primary {
    background-color: var(--mt-primary-color);
  }

  &.tc-primary {
    background-color: var(--tc-primary-color);
  }

  &.not-enabled {
    background-color: var(--mt-primary-border-color);
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  .switch-knob {
    pointer-events: none;
    display: inline-block;
    transform: translateX(0);
    border-radius: 9999px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    transition-property: transform, background-color;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    background-color: white;

    &.enabled {
      background-color: white;
    }
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
}
