.mt-empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 3rem 0;
  border: none;
  gap: 1rem;
  cursor: default;
}

.mt-empty-state-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--mt-primary-border-color);
}

.mt-empty-state-text {
  font-size: 1.125rem;
  text-align: center;
  color: var(--mt-primary-border-color);
}
