#MT-stepbar {
  width: 100%;
  padding: 1.25rem 0;
}

.steps-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.step-item {
  display: flex;
  align-items: center;
  flex: 1;

  &:first-child {
    flex: 0;
  }
}

/* Progress line between steps */
.progress-line {
  flex: 1;
  height: 2px;
  margin: 0 0.5rem;
  background-color: #acaca6;
  transition: background-color 0.5s ease-out;

  &.filled {
    background-color: var(--mt-primary-color);
  }
}

/* Step content wrapper */
.step-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex-shrink: 0;
}

/* Step circle */
.step-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-align: center;
  font-weight: 500;
  position: relative;
  z-index: 1;
}

/* Future steps */
.step-circle.future {
  color: #fff;
  background-color: transparent;
  border: 2px solid var(--mt-primary-border-color);
}

/* Current step */
.step-circle.current {
  color: #000;
  background: var(--mt-primary-color);
  border: 2px solid var(--mt-primary-color);
}

/* Completed steps */
.step-circle.completed {
  color: #000;
  background: var(--mt-primary-color);
  border: 2px solid var(--mt-primary-color);
}

.step-circle.icon {
  padding: 0;
}

.step-circle > span {
  line-height: 1;
}

.step-checkmark {
  width: 100%;
  height: 100%;
  stroke: currentColor;
}

/* Step label */
.step-label {
  color: var(--mt-secondary-text-color);
  text-align: center;
  position: absolute;
  top: 100%;
  padding-top: 0.5rem;
  white-space: nowrap;
  font-size: 0.875rem;
}

.step-label.current {
  color: var(--mt-primary-color);
  font-weight: 500;
}

.step-label.future {
  color: var(--mt-secondary-text-color);
}
