#MT-spinner {
  display: inline-block;
  position: relative;
  margin: auto;

  &.size-sm {
    width: 40px;
    height: 40px;

    div {
      width: 3px;
      height: 3px;
    }

    div:nth-child(1) {
      top: 18.5px;
      left: 33px;
    }
    div:nth-child(2) {
      top: 11px;
      left: 31px;
    }
    div:nth-child(3) {
      top: 5.5px;
      left: 26px;
    }
    div:nth-child(4) {
      top: 3.5px;
      left: 18.5px;
    }
    div:nth-child(5) {
      top: 5.5px;
      left: 11px;
    }
    div:nth-child(6) {
      top: 11px;
      left: 5.5px;
    }
    div:nth-child(7) {
      top: 18.5px;
      left: 3.5px;
    }
    div:nth-child(8) {
      top: 26px;
      left: 5.5px;
    }
    div:nth-child(9) {
      top: 31px;
      left: 11px;
    }
    div:nth-child(10) {
      top: 33px;
      left: 18.5px;
    }
    div:nth-child(11) {
      top: 31px;
      left: 26px;
    }
    div:nth-child(12) {
      top: 26px;
      left: 31px;
    }
  }

  &.size-md {
    width: 80px;
    height: 80px;

    div {
      width: 6px;
      height: 6px;
    }

    div:nth-child(1) {
      top: 37px;
      left: 66px;
    }
    div:nth-child(2) {
      top: 22px;
      left: 62px;
    }
    div:nth-child(3) {
      top: 11px;
      left: 52px;
    }
    div:nth-child(4) {
      top: 7px;
      left: 37px;
    }
    div:nth-child(5) {
      top: 11px;
      left: 22px;
    }
    div:nth-child(6) {
      top: 22px;
      left: 11px;
    }
    div:nth-child(7) {
      top: 37px;
      left: 7px;
    }
    div:nth-child(8) {
      top: 52px;
      left: 11px;
    }
    div:nth-child(9) {
      top: 62px;
      left: 22px;
    }
    div:nth-child(10) {
      top: 66px;
      left: 37px;
    }
    div:nth-child(11) {
      top: 62px;
      left: 52px;
    }
    div:nth-child(12) {
      top: 52px;
      left: 62px;
    }
  }

  &.size-lg {
    width: 120px;
    height: 120px;

    div {
      width: 9px;
      height: 9px;
    }

    div:nth-child(1) {
      top: 55.5px;
      left: 99px;
    }
    div:nth-child(2) {
      top: 33px;
      left: 93px;
    }
    div:nth-child(3) {
      top: 16.5px;
      left: 78px;
    }
    div:nth-child(4) {
      top: 10.5px;
      left: 55.5px;
    }
    div:nth-child(5) {
      top: 16.5px;
      left: 33px;
    }
    div:nth-child(6) {
      top: 33px;
      left: 16.5px;
    }
    div:nth-child(7) {
      top: 55.5px;
      left: 10.5px;
    }
    div:nth-child(8) {
      top: 78px;
      left: 16.5px;
    }
    div:nth-child(9) {
      top: 93px;
      left: 33px;
    }
    div:nth-child(10) {
      top: 99px;
      left: 55.5px;
    }
    div:nth-child(11) {
      top: 93px;
      left: 78px;
    }
    div:nth-child(12) {
      top: 78px;
      left: 93px;
    }
  }

  div {
    position: absolute;
    background: #fff;
    border-radius: 50%;
    animation: spinner 1.2s linear infinite;
  }

  div:nth-child(1) {
    animation-delay: 0s;
  }
  div:nth-child(2) {
    animation-delay: -0.1s;
  }
  div:nth-child(3) {
    animation-delay: -0.2s;
  }
  div:nth-child(4) {
    animation-delay: -0.3s;
  }
  div:nth-child(5) {
    animation-delay: -0.4s;
  }
  div:nth-child(6) {
    animation-delay: -0.5s;
  }
  div:nth-child(7) {
    animation-delay: -0.6s;
  }
  div:nth-child(8) {
    animation-delay: -0.7s;
  }
  div:nth-child(9) {
    animation-delay: -0.8s;
  }
  div:nth-child(10) {
    animation-delay: -0.9s;
  }
  div:nth-child(11) {
    animation-delay: -1s;
  }
  div:nth-child(12) {
    animation-delay: -1.1s;
  }
}

@keyframes spinner {
  0%,
  20%,
  80%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.3);
  }
}
